<!DOCTYPE html>
<html ng-app>
	<head>
		<meta charset="utf-8">

		<link rel="stylesheet" href="css/bootstrap.css">
		
		<script src="angular-1.2.25/angular.js"></script>
		<script src="app.js"></script>
		<style type="text/css">
			.box{
				width: 100px;
				height: 100px;
			}
			
			.red{
				background-color: red;
			}
			.green{
				background-color: green;
			}
			.blue{
				background-color: blue;
			}
			.black{
				background-color: black;
			}
			
			.ng-invalid{
				border: 3px solid red;
			}
			
			.ng-valid{
				border: 3px solid green;
			}
			
			.ng-dirty{
				border-style : dashed;
			}
			
			
			
			
		</style>
		<title>과일 가게</title>
		
	</head>

	<body class="well" ng-controller="fruitShopCtrl">
		<h1>메뉴판</h1>
		<h2>메뉴 목록</h2>
		<table class="table">
			<thead>
				<tr>
					<th>메뉴</th>
					<th>가격</th>
					<th>갯수</th>					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="menu in menuList">
					<td>{{menu.itemNm}}</td>
					<td>{{menu.itemPrice}}</td>
					<td><input type="text" ng-model ="menu.itemCount"></td>
					
				</tr>
			</tbody>
		</table>
		<ul>
			<li ng-repeat="(attr, value) in menuList">
				<p>{{value}}</p>
			</li>
		</ul>
		
		<button ng-click="buy()">구매</button>
		<h2>구입 가격</h2>
		<div>
			가격: {{totalPrice}}
		</div>
		
		<div>
			<input type="radio" ng-model="color" value="red">빨간색<br>
			<input type="radio" ng-model="color" value="green">녹색<br>
			<input type="radio" ng-model="color" value="blue">파란색<br>
			
			<div ng-switch="color">
				<div ng-switch-when="red" class="box red"></div>
				<div ng-switch-when="green" class="box green"></div>
				<div ng-switch-when="blue" class="box blue"></div>
				<div ng-switch-default class="box black"></div>
				
			</div>
			
			
		</div>
		<div>약관의 동의하세요 <input type="checkbox" ng-model="chk_accept" ng-init="chk_accept=false" />
			<div>동의하면 다음으로 진행됩니다.<button ng-if="chk_accept">다음</button></div>
		</div>
		
		
		<!-- 유효성 검사 -->
		<form name="sampleForm">
		<div> 핸드폰 번호 <input type="text" name="tel" ng-model="tel" ng-pattern="/^\d{3}-\d{3,4}-\d{4}$/" /></div>
		<span class="error" ng-show="sampleForm.tel.$error.pattern">000-0000-0000</span>
		<p>sampleForm.tel.$dirty = {{sampleForm.tel.$dirty}}</p>
		<p>sampleForm.tel.$valid = {{sampleForm.tel.$valid}}</p>
		<p>sampleForm.tel.$error = {{sampleForm.tel.$error}}</p>
		<p>sampleForm.$valid = {{sampleForm.$valid}}</p>
		<p>sampleForm.$error.required = {{!!sampleForm.$error.required}}</p>
		
		</form>
		
		
		<!-- 체크 박스 -->
		
		<div>선택1: <input type="checkbox" name="chk1" ng-model="value1" /></div>
		<div>선택2: <input type="checkbox" name="chk2" ng-model="value2" ng-true-value="좋다" ng-false-value="싫다" /></div>
		
		<p>선택1 값 : {{value1}}</p>
		<p>선택2 값 : {{value2}}</p>
		
		<!-- Select -->
		<form name="myRoute">
		<div>출발국가:<select ng-model="depCountry" ng-options="country.name for country in countryList" ng-required="true">
			<option value="">선택해주세요.</option>
		</select>
		</div>
		<div>경유국가:<select ng-model="viaCountry" ng-options="country.name as country.name  for country in countryList" >
			<option value="">선택해주세요.</option>
		</select>
		</div>
		
		<div>도착국가:<select ng-model="arrCountry" ng-options="country.name group by country.continent  for country in countryList" ng-required="true">
			<option value="">선택해주세요.</option>
		</select>
		</div>
		
		<p>출발국가: {{depCountry.name}}</p>
		<p>경유국가: {{viaCountry}}</p>
		<p>도착국가: {{arrCountry.name}}</p>
		
		</form>
		<div ng-show="myRoute.$invalid">출발국가와 도착국가는 필히 선택해주세요.</div>
		
		
		
	</body>
</html>
